@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,500;1,500&display=swap');

body *{
    color: $text-color;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;

    h1,h2,h3,h4,h5,h6{
        font-family: 'Prompt', sans-serif;
        font-weight: 600;
    }

    h2{
        font-size: 80px;
    }

    h3{
        font-size: 32px;
        font-family: 'Trirong', serif;
        font-weight: 500;
        font-style: italic;
    }
}   

